extends layout
block title
	title Country Fun Facts

block body
	h1 Enjoy our vast supply of knowledge from across the globe!
	h2 Enter the appropriate value in its field and watch the magic work!
	.container
		form#search
			label Region #[input#region(type="text")]
			label Subregion #[input#subregion(type="text")]
			label CurrencyName #[input#currencyName(type="text")]
			label CurrencyCode #[input#currencyCode(type="text")]
			label Alpha3Code #[input#alpha3Code(type="text")]
			button.button(type="submit") Submit
	#results
	
	script(src="/js/facts.js")