extends layout
block title
	title Country Fun Facts

block css
	link(rel="stylesheet", href="style.css")

block body
	ul
		for countries in Response
			li #{countries.Name}
			img(src=countries.Flag, alt="", srcset="")