extends layout
block title
	title Welcome to Country Facts!

block body
	h1.introText Interested in Learning About Foreign Lands? 
	h2.introText Study up and test your knowledge with our quiz!
	h3.homepageImage 
	h4
		ul
			li Ever wondered what the currency of Bangladesh is?
			br
			li Just a knowledge junkie in general? We have facts AND fun!
		div Facebook Login here 