extends layout
block title
	title Welcome to Country Facts!
block css
	link(rel ='stylesheet' href ='/css/intro.css' type = 'text/css')
block body
	h1.introText From the States to Kiribati, Global Fun Facts
	h2.introText Study hard and test your knowledge with our quiz!
	a(class = 'button' href='/homepage') Explore Our Site!