doctype html
html
	head
		meta(charset='UTF-8')
		link(rel="stylesheet", href="/css/style.css")
		block title

	body
		div.header
			ul
				block navigation
				li.right
					a.button(href='/') Home
				li.right
					a.button(href='/facts') Facts
				li.right
					a.button(href='/quiz') Quiz
		.clear
		block body