doctype html
html
	head
		meta(charset='UTF-8')
		link(rel="stylesheet", href="/css/style.css")
		block title

	body
		div.header
			ul
				li.right
					a(class='button', href='/') Home
				li.right
					a(class='button', href='/funFacts') Fun Facts
				li.right
					a(class='button', href='/quiz') Quiz
		.clear
		block body