body{
	background-image: url('/images/flagbackgr.jpg');
}
/* The "border-image" attribute isn't working properly. Was trying to make the flags only the border not the whole background. */
.introText{
	color:springgreen;
	text-align: center;
}
.button {
	background-color: rgb(148, 147, 147);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
