
h1 {
	background-color: lightblue;
	font-size: 30;
	font-weight: bolder;
	text-align: center
}
.countryInfo{
	list-style: none;
}


.countryFlag{
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-top:20px;
}
.countryName{
	font-weight: bolder;
	border: groove;
}
.subRegion{
	text-align: center;	
}
.currencyName{
	text-align: center;
}
.Region{
	text-align: center;
}
.countryAbbreviation{
	font-weight: bolder; 
}